---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<p>I'm passionate about public speaking and making complex ideas accessible. Through presentations at academic conferences, entrepreneuship showcases, and research symposiums, I've developed expertise in communicating technical findings as well as business ideas to audiences ranging from domain experts to general audiences over the past few years.</p>

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
