---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<p>Outside of school, I've focused on teaching mathematics and computer science to K–12 students, especially those from underrepresented groups. As a first-generation college student, I faced many doubts and adversities in school, and I had to work hard to dismantle that narrative for myself. Now, I try to pay that forward. I teach with empathy and curiosity, and I believe that anyone can learn challenging material when it's presented in a way that is responsive to their needs and learning style.</p>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<p style="margin-top: 2rem; font-style: italic;">More to come! Stay tuned.</p>

<div style="margin-top: 3rem;">
  <p align="center">
    <img src="/images/meditation.jpeg" alt="Buddhist meditation center group photo" width="60%"><br>
    <em>I also volunteer at Buddhist meditation centers. Buddhism and the practice of meditation is a core part of my life.</em>
  </p>
</div>

<div style="margin-top: 3rem;">
  <h2>Mentorship and Gratitude</h2>
  <p>I find teaching, and more broadly, mentorship, deeply meaningful. I have been lucky to learn from mentors who supported and challenged me academically, professionally, and personally. I am grateful for the mentorship chain I have been part of, and especially to:</p>
  
  <ul>
    <li>Anthony Ferraro (Tony), Cheshire Academy, who inspired me to learn more about physics</li>
    <li>Chip Boyd (Mr. Boyd), Cheshire Academy, who inspired me to learn more about philosophy</li>
    <li>Prof. Steven Strogatz, Cornell Math, and the best major advisor I've ever had</li>
    <li>Prof. Jennifer Sun, Cornell Computer Science</li>
    <li>Prof. Yunan Yang, Cornell Math</li>
    <li>Prof. Anil Damle, Cornell Computer Science</li>
    <li>Prof. Dmitry Savransky, Cornell Aerospace Engineering</li>
    <li>Prof. Laura Flagg, JHU Astrophysics</li>
    <li>Prof. Ray Jayawardhana, JHU Astrophysics</li>
    <li>Prof. John Holmes, OSU Math</li>
    <li>Prof. Stephen Sauer, Cornell SC Johnson College of Business</li>
    <li>Cornell eLab, entrepreneurship mentorship and community</li>
    <li>Cornell Student Disability Services (SDS), guidance on accessibility needs and implementation constraints</li>
    <li>Neurodiversity @ Cornell, community support and user discovery insights</li>
    <li>Jamey Edwards, President and CSO at Cairns Health, advisory board for my startup</li>
    <li>Illiava Paleva, Investor at Hyperspace Ventures, advisory board</li>
    <li>Frank Fu, CIO at Proprietary Trading Firm, advisory board </li>
    <li>Prashant Reddy & Keith Andrew, Co-founders at Artian AI, who I'm currently working with :) </li>
  </ul>
</div>
