---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<p>Outside of school, I've focused on teaching mathematics and computer science to K–12 students, especially those from underrepresented groups. As a first-generation college student, I faced many doubts and adversities in school, and I had to work hard to dismantle that narrative for myself. Now, I try to pay that forward. I teach with empathy and curiosity, and I believe that anyone can learn challenging material when it's presented in a way that is responsive to their needs and learning style.</p>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<p style="margin-top: 2rem; font-style: italic;">More to come! Stay tuned.</p>

<div style="margin-top: 3rem;">
  <p align="center">
    <img src="/images/meditation.jpeg" alt="Buddhist meditation center group photo" width="60%"><br>
    <em>I also volunteer at Buddhist meditation centers. Buddhism and the practice of meditation is a core part of my life.</em>
  </p>
</div>
