_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
projects.html
learning.html
experience.html
about.html
index.html
artwork.html
learning.html